<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="./styles.css"/>
    </head>
    <body>
        <header>
            <img id="logo" src="./R-removebg-preview.png"/>
            <nav>
                <ul>
                    <a href="./index.html">
                        <li>Home</li>
                    </a>
                    <a href="./contato.html">
                        <li>Contato</li>
                    </a>
                    <a href="./fotos.html">
                        <li>Fotos</li>
                    </a>
                    <a href="./comentarios.html">
                        <li>Comentários</li>
                    </a>
                </ul>
            </nav>
        </header>
        <div id="banner"></div>
        
        <section id="app">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="comment">
                            <p v-for="items in item" v-text="items"></p>
                        </div><!--End Comment-->
                    </div><!--End col -->
                </div><!-- End row -->
                <div class="row">
                    <div class="col-6">
                        <textarea type="text" class="input" placeholder="Escreva um comentário" v-model="newItem" @keyup.enter="addItem()"></textarea>
                        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Adicionar comentário</button>
                    </div><!-- End col -->
                </div><!--End Row -->
            </div><!--End Container -->
        </section><!-- end App -->
        <!-- Vue JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
        <!-- jQuery -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script  src="./script.js"></script>

        
        <footer>
            <img style="object-fit: contain;" id="logo" src="./R-removebg-preview.png"/>
            <span>Todos os direitos reservados ©</span>
            <span>Desenvolvido por Artur Souza</span>

            <nav class="footer-navigation">
                <ul class="footer-list">
                    <a href="./index.html">
                        <li>Home</li>
                    </a>
                    <a href="./contato.html">
                        <li>Contato</li>
                    </a>
                    <a href="./fotos.html">
                        <li>Fotos</li>
                    </a>
                    <a href="./comentarios.html">
                        <li>Comentários</li>
                    </a>
                </ul>
            </nav>
        </footer>

    </body>
</html>